BODY {
 	BACKGROUND-COLOR: white;
  font: 13px Helvetica Neue, Helvetica, Arial, sans-serif;
}

P {
	margin-top: 0.8em;
	margin-left: 10px;
	margin-right: 10px;  	
}

pre {
	margin-left: 10px;
}

A:visited {
	COLOR: #2D8AA7;
	TEXT-DECORATION: none
}
A:link {
	COLOR: #2D8AA7;
	TEXT-DECORATION: none
}
A:active {
	COLOR: #2D8AA7;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #2D8AA7;
	TEXT-DECORATION: underline
}


.note {
	FONT-SIZE: 13px; COLOR: #000000; font-style: italic;
}


.pagetitle2 {
	font: bold 18px Helvetica Neue, Helvetica, Arial, sans-serif; 
  color: #51626F;
}


.pagetitle, h1 {
  font: bold 18px Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #51626F;
  background-color: #E1E7E8;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top:15px;
  margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

.subtitle, h2 {
	FONT-SIZE: 14px;	
	color: #2D8AA7;
	font-weight: bold;
  font-style: italic;    		
	margin-top: 1.5em;
	margin-bottom: 0.7em;
	border-bottom: dotted;
	border-bottom-width:1px;
	padding-left: 10px;
	padding-bottom: 2px;
  letter-spacing: 0.7px;
	margin-left: 0px;	
}


.shortcut {
	FONT-SIZE: 13px; 
  COLOR: #808080;   
}


.leftTitleBox {
  background-color:#C3CFD1;
}  

.lefttitle {
  COLOR: #51626F;
	FONT-SIZE: 10px;  font-style: normal; font-variant: normal; font-weight: bold; font-weight: bold; 
}

.leftmenu {
	font: 11px/18px Helvetica Neue, Helvetica, Arial, sans-serif; color: RGB(0,51,102); font-weight: normal; font-style: normal;
}


.splitterLine {
  background-color: #C3CFD1;
}

.selected2 {
	FONT-SIZE: 10px; COLOR: RGB(0,51,102); font-style: normal; font-variant: normal; font-weight: bold; 
}

.selected {
	font: 10px/18px Helvetica Neue, Helvetica, Arial, sans-serif; color: RGB(0,51,102); font-weight: bold; font-style: italic;
}

.nadpis {
	FONT-SIZE: 13px; COLOR: #000000; font-weight: bold; TEXT-DECORATION: underline;
}

.zahlavi1 {
	font-size: 9px; font-weight: bold; color: #ffffff;
}

.normal {
	FONT-SIZE: 13px; COLOR: #000000; 
}

.command2 {
	FONT-SIZE: 13px; COLOR: #000080; 
}



.hotkey {
	FONT-SIZE: 13px; COLOR: #808080; 
}


.command {
	FONT-SIZE: 14px; COLOR: #000080; 
}


TD {
	FONT-SIZE: 13px; COLOR: #000000; 
}


H1 {
	FONT-SIZE: 16px; 
}



.extra {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000
}



.poznamka {
	FONT-SIZE: 13px; COLOR: #000000; 
}


.topofpage {
	font: 10px Helvetica Neue, Helvetica, Arial, sans-serif;
}



.copyright {
	FONT-SIZE: 9px; COLOR: #B0B0B0; ;
	border-top-style:solid;
	border-top-width:1px;
	padding-top: 5px;
	margin-top: 30px;
}

.howto {
  color: #000000;
  BACKGROUND-COLOR: #FFeebb
}

.subsubtitle, h3, h4 {
	FONT-SIZE: 13px;
	COLOR: #000000;
	font-weight: bold;	
	font-style: normal;
	margin-top: 1.8em;
	margin-bottom: 3px;
}

.normli {
  margin-top: 0.6em;
  margin-left: -1em;
}

.spacedli {
  margin-top: 0.8em;
}

.upper {
  vertical-align: super;
  font-size: smaller;
}

.imagetext {
	font: 10px/18px Helvetica Neue, Helvetica, Arial, sans-serif; color: #000000; font-weight: normal; font-style: normal;
}

.tablelabel {
	font: 10px/18px Helvetica Neue, Helvetica, Arial, sans-serif; color: #000000; font-weight: normal; font-style: normal;
  margin-top: 1px;
  margin-bottom: 15px;
  text-align: center;
}


.kwd_command {
  color: #695F52;
  font-weight: bold;
}

.kwd_envopt {
  color: #695F52;
  font-weight: bold;
}

.kwd_projopt {
  color: #695F52;
  font-weight: bold;
}

.kwd_appopt {
  color: #695F52;
  font-weight: bold;
}


.bottomline {
  border-style:solid;
  height:0px;
  border-color:#C3CFD1; 
}
